{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/viewExpense.css' %}">
        <meta charset="UTF-8">
        <title>ТРАТЫ</title>
    </head>
    
    <body>
        <style>

        </style>
        <table border = '1' >
            <caption>Таблица трат</caption>    
            <tr>
                <td>Даты:</td>
                {% for item in arrayDate %}
                <td>{{item}}</td>
                {% endfor %}
            </tr>
            
           
        </table>
        
        <h1>zxc</h1>
    </body>
</html>