{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/viewExpense.css' %}">
        <meta charset="UTF-8">
        <title>ТРАТЫ</title>
    </head>
    
    <body>
        <style>
            table{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        </style>
        <table border = '1' >
            <caption>Таблица трат</caption>    
            <tr>
                <td>Даты:</td>
                {% for item in arrayDate %}
                <td>{{item}}</td>
                {% endfor %}
            </tr>
            
            
        </table>
        

    </body>
</html>