{% load static %}
<!DOCTYPE html>
<html>
    <head>
    
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="Expenser/static/css/expense.css">
        <title>Belskyh</title>
    </head>
    <body>
        <h1 class = 'qwe'>тест на пидора</h1>
        <a href="http://zhaba.pythonanywhere.com/plot/yes"><h1>да</h1></a>
        <a href="http://zhaba.pythonanywhere.com/plot/no"><h1>нет</h1></a>
    </body> 
</html>