html{
    box-sizing: border-box;
    
}



body{
    background: rgb(44, 44, 44);
    color:rgb(156, 156, 156);
}
header h1{
    font-size: 40pt;
    text-transform: uppercase;
    text-align: center;
    background: rgba(134, 134, 134, 0.1);

}

nav{
    font-size: 16pt;
    width: 150px;
    float: left;
    margin-left: 20px;
}
a{
    color:rgb(176, 176, 177);
}
nav a{
    display: block;
    margin:10px 0px;
}
nav .add{
    padding-bottom: 10px;
}
.l-wrap{
    max-width: 100%;
    margin-left:150px
}

.four-col-grid .grid-item{
    width: 20%;
    float:left;

}

.four-col-grid::after{
    display: table;
    clear: both;
    content: '';
}

.grid-item{

    width: calc((100% - 24px * 2) / 4);
    margin-right: 30px;
    margin-top: 20px;
    float: left;
}

.grid-item:hover{
    transition: .5s;
    background: rgba(88, 88, 88, .5);
}